/* ESTILO GERAIS */
html {
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@font-face {
    font-family: BlackChancery;
    src: url(../fonts/BLKCHCRY.TTF);
}

body {
    font-family: 'Roboto', sans-serif;
}

.btn {
    border: 3px solid #96D6B3;
    padding: 10px 30px;
    color: #96D6B3;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    color: #000;
    border-color: #000;
}

/* HEADER */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 25px 0;
    z-index: 10;
    background: #96D6B3;
}

.header-menu {
    text-align: right;
}

.header-menu ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
}

.header-menu ul li a {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
}

.header-menu ul li a:hover {
    color: #000;
}

.header.logo-text a {
    text-decoration: none;
}

.logo-text {
    font-family: BlackChancery, Arial, Helvetica, sans-serif;
    color: #FFF;
    font-size: 32px;
    margin-top: 10px;
}

/* SOBRE MIM */

.sobre-mim {
    margin-top: 92px;
    padding: 80px 0;
}

.sobre-texto {
    padding-left: 10px;
}

.sobre-mim h1 {
    font-size: 28px;
    font-weight: 900;
    color: #2e324a;
    line-height: 30px;
    letter-spacing: .1em;
    padding: 0;
    margin: 15px 0 5px 0;
}

.sobre-texto .crp {
    font-size: 14px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.4);
}

.sobre-texto p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.section-consultorio {
    width: 100%;
    background: #96D6B3;
    padding: 60px 0;
}

.section-consultorio img {
    margin-left: 200px;
    margin-top: 20px;
}

.section-title {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.section-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #FFF;
    margin: 6px auto 10px auto;
}

.blacktitle {
    color: #2e324a;
}

.blacktitle::after {
    background: #2e324a;
}

.shadow-box {
    -webkit-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
}

/* BENEFICIOS */
.beneficios {
    padding: 60px 0;
    text-align: center;
}

.beneficios h2 {
    margin-bottom: 40px;
}

.beneficios-lista li {
    background: #000;
}

.beneficios-lista li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 20px;
    color: #FFF;
}

.beneficios-lista li h3::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #FFF;
    margin: 2px auto;
}

.beneficios-lista li p {
    padding: 10px 20px 20px 20px;
    color: #FFF;
    text-align: left;
}

.beneficios-icone {
    background: #96D6B3;
    padding: 20px;
}

.beneficios-icone img {
    margin: 0 auto;
    width: 200px;
    height: 140px;
}

/* QUOTE */
.quote_clientes {
    padding: 20px 0;
    margin: 0 auto;
    max-width: 460px;
}

.quote_clientes p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 25px;
    font-style: italic;
    margin-bottom: 20px;
}

.quote_clientes cite {
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    text-align: right;
    float: right;
    font-style: normal;
}

/* FOOTER */
.footer {
    width: 100%;
    background: #96D6B3;
    color: #FFF;
    padding: 20px 0;
    margin-top: 80px;
}

.footer h3 {
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
}

.footer h3::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 6px 0 12px 0;
}

.footer_contato ul li {
    line-height: 20px;
    margin-bottom: 10px;
    font-size: 16px;
}

.footer_contato a {
    color: #fff;
}

.footer_contato a:hover {
    color: #000;
    font-weight: bold;
}

.footer_redes ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer_redes ul li a {
    border: 3px solid #fff;
    display: block;
    padding: 10px;
}

.icon-redes {
    color: #fff;
}

.footer_redes ul li a:hover {
    border-color: #000;
}

.footer_redes ul li a:hover  i {
    color: #000;
}


.metd-pagamento li {
    line-height: 20px;
    margin-bottom: 10px;
    font-size: 18px;
}

.metd-pagamento li:hover {
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.copy {
    width: 100%;
    background: #000;
    padding: 20px 0;
    color: #FFF;
}

.copy p {
    display: inline-block;
}

.creditos {
    margin-left: 317px;
}

.creditos a {
    text-decoration: underline;
    color: #FFF;
}


/* JAVASCRIPT */
.js [data-slide]{position:relative}[data-slide]>*{position:absolute;top:0;opacity:0;pointer-events:none}[data-slide]>.active{position:relative;opacity:1;transition:opacity .5s;z-index:1;pointer-events:auto}

.js [data-slide-nav] {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.js [data-slide-nav] button {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 4px;
    border: none;
    padding: 0;
    border-radius: 6px;
    text-indent: -99px;
    overflow: hidden;
    background: #1d1d1d;
}

.js [data-slide-nav] button.active {
    background: #fff;
}

.js [data-anime] {
    opacity: 0;
}

/* 7 CSS personalizado dependendo da animação desejada */
.js .fadeInDown {
    transform: translate3d(0,-20px,0);
}
.js .fadeInUp {
    transform: translate3d(0,20px,0);
}
.js .fadeInRight {
    transform: translate3d(20px,0,0);
}
.js .fadeInLeft {
    transform: translate3d(-20px,0,0);
}

.js .anime {
    opacity: 1;
    transform: none;
    transition: transform .8s, opacity .8s;
}
